
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #008CBA;
    color: white;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #008CBA;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #008CBA;
    text-decoration: none;
}
